.kick-form__button {
  height: 35px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: all .3s ease;
}

.kick-form__button-buy {
  width: 70%;
  border: 1px solid #3F8D55;
  background-color: #3F8D55;
  color: #fff;

  &:hover {
    border: 1px solid #008d27;
    background-color: #008d27;
  }
}

.kick-form__button-sell {
  width: 25%;
  border: 2px solid #B65C5B;
  background-color: transparent;
  color: #B65C5B;

  &:hover {
    background-color: #b6544e;
    color: #fff;
  }
}
